$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
    /*background: url('../images/seamless_paper_texture.jpg') #eee;*/
    background: #eee;
    font-size: 16px;
}

h1, h2, h3, h4 {
	font-family: 'Crimson Text', serif;
	font-size: 2em;
}

.jw-header {
	height: 200px;
	background: #a6bed7 url('../images/headerLarge.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 1em solid #fff;
}


@media (min-width: $screen-sm-min) {
	.jw-header {
		height: 300px;
	}
}

h1 {
	margin-top: 10px;
	/*border-bottom: 5px solid #fff;*/
	font-size: 3em;
	color: #666;
	text-shadow: 1px 1px 0 #eee;
}

@media (min-width: $screen-sm-min) {
	h1 {
		font-size: 4em;
		/*border-bottom: 10px solid #fff;*/
	}
}

.jw-navigation {
	margin-top: 1em;
	ul {
		border-bottom: none;
	/*list-style: none;*/
		li {
			float: none;
			a {
				margin-right: 1px;
				background: #000;
				color: #fff;
				border: none;
				border-radius: 0;
				font-family: 'Crimson Text', serif;
				font-size: 1em;
			}

			a:hover, a:focus {
				background: #fff;
				color: #000;
			}

			h2 {
				margin: 0;
				padding: 10px 30px;
				font-size: 2em;
				background: #fff;
				color: #000;
			}
		}
	}
}

@media (min-width: $screen-xs-min) {
	.jw-navigation {
		ul {
			li {
				float: left;
				a {
					font-size: 2em*0.6666;
				}

				h2 {
					font-size: 3em;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	.jw-navigation {
		ul {
			li {
				a {
					font-size: 2em;
				}

				h2 {
					font-size: 4em;
				}
			}
		}
	}
}


.jw-thumbnails{

	margin-top: 2em;
	margin-bottom: 6em;
	text-align: center;

	img {
		margin-top: 1em;
		margin-bottom: 1em;
		width: 100%;
		max-width: 250px;
		height:auto;
		/*margin-right: 1em;*/
		background: #ccc;
		padding: 1px;
		border: solid 35px #fff;
		box-shadow: 0 0 20px #999;
	}
}